.App {
  text-align: center;
}

.board {
  margin: 50px auto;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.board__row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.board__square {
  flex-grow: 1;
  font-size: 4rem;
}
